{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block nav %}
{% include "nav.html" %}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="row justify-content-center mb-4">
    <div class="col-md-4">
        <form method="POST" action="{{ url_for('user_app.home') }}" class="form-inline">
            {{ form.hidden_tag() }}
            {{ form.searched(class="form-control w-100", placeholder="Search...") }}
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-outline-success w-50" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

<a class="btn btn-primary mb-4" href="{{url_for('user_app.proffile')}}">Profile</a>

<div class="row">
  {% for a in flight %}
  <div class="col-md-3 mb-3">
      <div class="card h-100" style="position: relative; overflow: hidden;">
          <!-- Background Image -->
          <div style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url('{{ url_for('static', filename='images/img.png') }}');
              background-size: cover;
              background-position: center;
              filter: brightness(0.6);">
          </div>

          <!-- Overlay Content -->
          <div class="card-body text-white d-flex flex-column justify-content-center" style="position: relative; z-index: 1; background-color: rgba(0, 0, 0, 0.5);">
            <h5 class="card-title text-center">{{ a.flight_id }}</h5>
            <h5 class="card-title text-center">FROM: {{ a.start_loc }}</h5>
            <h5 class="card-title text-center">TO: {{ a.destination }}</h5>
            <p class="card-text text-center">
                Price:
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                </svg>
                {{ a.price }} &nbsp; by {{ a.company }}
            </p>
            <form action="{{ url_for('user_app.flightdetails') }}" method="POST" style="display: inline;">
              <input type="hidden" name="flight_id" value="{{ a.flight_id }}">
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Details</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
